{% set with_coverage = True %}
{% include 'tox-envlist.j2' %}
{% include 'tox-testenv.j2' %}
{% include 'tox-lint.j2' %}
{% include 'tox-docs.j2' %}

[testenv:coverage]
basepython = python3
allowlist_externals =
    mkdir
deps =
    coverage
    coverage-python-version
    zope.testrunner
commands =
    mkdir -p {toxinidir}/parts/htmlcov
{% if coverage_command %}
    %(coverage_command)s
{% else %}
    coverage run -m zope.testrunner --test-path=src []
{% endif %}
{% if with_sphinx_doctests %}
    coverage run -a -m sphinx -b doctest -d {envdir}/.cache/doctrees docs {envdir}/.cache/doctest
{% endif %}
    coverage html
    coverage report -m --fail-under=%(fail_under)s
{% include 'tox-coverage-config.j2' %}
