---
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: fix-encoding-pragma
            args: [--remove]
          - id: check-yaml
          - id: debug-statements
            language_version: python3
    - repo: https://github.com/PyCQA/flake8
      rev: 4.0.1
      hooks:
          - id: flake8
            language_version: python3
            additional_dependencies: [flake8-typing-imports==1.9.0]
    - repo: https://github.com/pre-commit/mirrors-autopep8
      rev: v1.6.0
      hooks:
          - id: autopep8
    - repo: https://github.com/timothycrosley/isort
      rev: 5.10.1
      hooks:
      - id: isort
        args: [--filter-files]
        files: \.py$
# If needed:
    - repo: local
      hooks:
          - id: rst
            name: rst
            entry: rst-lint --encoding utf-8
            exclude: ./doc/*
            files: .rst
            language: python
            additional_dependencies: [pygments, restructuredtext_lint]
# This can deal with sphinx directives
    - repo: https://github.com/myint/rstcheck
      rev: "3f92957478422df87bd730abde66f089cc1ee19b"  # Use the sha / tag you want to point at
      hooks:
      - id: rstcheck
        args: [--ignore-messages, Duplicate implicit target.*]
