---
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: fix-encoding-pragma
            args: [--remove]
          - id: check-yaml
          - id: debug-statements
            language_version: python3
    - repo: https://github.com/pre-commit/mirrors-autopep8
      rev: v2.0.4
      hooks:
          - id: autopep8
    - repo: https://github.com/isidentical/teyit
      rev: 0.4.3
      hooks:
      - id: teyit
    - repo: https://github.com/PyCQA/flake8
      rev: 7.1.1
      hooks:
          - id: flake8
            language_version: python3
            additional_dependencies: [flake8-typing-imports==1.15.0]
    - repo: https://github.com/timothycrosley/isort
      rev: 5.13.2
      hooks:
      - id: isort
        args: [--filter-files]
        files: \.py$
# If needed:
    - repo: local
      hooks:
          - id: rst
            name: rst
            entry: rst-lint --encoding utf-8
            exclude: ./doc/.*
            files: .rst
            language: python
            additional_dependencies: [pygments, restructuredtext_lint]
# This can deal with sphinx directives
    - repo: https://github.com/myint/rstcheck
      rev: "v6.2.4"
      hooks:
      - id: rstcheck
        args: [--ignore-messages, Duplicate implicit target.*]
