include *.rst
include *.txt
include buildout.cfg
include tox.ini
{% if with_appveyor %}
include appveyor.yml
{% endif %}
{% if config_type == 'buildout-recipe' %}
include .coveragerc
{% endif %}
{% if with_docs %}

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
{% endif %}

recursive-include src *.py
{% for line in additional_rules %}
%(line)s
{% endfor %}
