include *.md
include *.rst
include *.txt
include buildout.cfg
include tox.ini
{% if config_type in ('buildout-recipe', 'c-code') %}
include .coveragerc
{% endif %}
{% if with_docs %}

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
{% endif %}

recursive-include src *.py
{% for line in additional_rules %}
%(line)s
{% endfor %}
