[bdist_wheel]
universal = 1

[flake8]
doctests = 1
{% if config_type == 'buildout-recipe' %}
# provided to doctests by buildoutSetUp()
builtins = write, system, cat, join
{% endif %}
{% for line in additional_flake8_config %}
%(line)s
{% endfor %}

[check-manifest]
ignore =
    .editorconfig
    .meta.toml
{% if with_docs %}
    docs/_build/html/_sources/*
{% endif %}
{% if with_sphinx_doctests %}
    docs/_build/doctest/*
{% endif %}
{% for line in additional_check_manifest_ignores %}
    %(line)s
{% endfor %}
