[bdist_wheel]
{% if with_legacy_python %}
universal = 1
{% else %}
universal = 0
{% endif %}

[flake8]
doctests = 1
{% if config_type == 'buildout-recipe' %}
# provided to doctests by buildoutSetUp()
builtins = write, system, cat, join
{% endif %}
{% if config_type == 'zope-product' %}
no-accept-encodings = True
htmldir = parts/flake8
{% endif %}
{% for line in additional_flake8_config %}
%(line)s
{% endfor %}

[check-manifest]
ignore =
    .editorconfig
    .meta.toml
{% if with_docs %}
    docs/_build/html/_sources/*
{% endif %}
{% if with_sphinx_doctests %}
    docs/_build/doctest/*
{% endif %}
{% for line in additional_check_manifest_ignores %}
    %(line)s
{% endfor %}
{% if check_manifest_ignore_bad_ideas %}
ignore-bad-ideas =
  {% for line in check_manifest_ignore_bad_ideas %}
    %(line)s
  {% endfor %}
{% endif %}
{% if config_type == 'zope-product' %}

[isort]
force_single_line = True
combine_as_imports = True
sections = FUTURE,STDLIB,THIRDPARTY,ZOPE,FIRSTPARTY,LOCALFOLDER
known_third_party = %(isort_known_third_party)s
known_zope = %(isort_known_zope)s
known_first_party = %(isort_known_first_party)s
{% if isort_known_local_folder %}
known_local_folder = %(isort_known_local_folder)s
{% endif %}
default_section = ZOPE
line_length = 79
lines_after_imports = 2
{% endif %}
