name: tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 12 * * 0'  # run once a week on Sunday
  # Allow to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
{% if services %}
    services:
{% for line in services %}
      %(line)s
{% endfor %}
{% endif %}
    strategy:
      # We want to see all failures:
      fail-fast: false
      matrix:
        os:
        - ubuntu-20.04
{% if with_windows %}
        - windows-latest
{% endif %}
{% if with_macos %}
        - macos-latest
{% endif %}
        config:
        # [Python version, tox env]
        - ["3.9",   "lint"]
{% if with_legacy_python %}
        - ["2.7",   "py27"]
        - ["3.5",   "py35"]
{% endif %}
        - ["3.6",   "py36"]
        - ["3.7",   "py37"]
        - ["3.8",   "py38"]
        - ["3.9",   "py39"]
        - ["3.10",  "py310"]
        - ["3.11",  "py311"]
{% if with_future_python %}
        - ["%(future_python_version)s",  "py312"]
{% endif %}
{% if with_pypy and with_legacy_python %}
        - ["pypy-2.7", "pypy"]
{% endif %}
{% if with_pypy %}
        - ["pypy-3.7", "pypy3"]
{% endif %}
{% if with_docs %}
        - ["3.9",   "docs"]
{% endif %}
        - ["3.9",   "coverage"]
{% for line in gha_additional_config %}
        %(line)s
{% endfor %}
{% if with_windows or with_macos or gha_additional_exclude %}
        exclude:
{% endif %}
{% if with_windows %}
          - { os: windows-latest, config: ["3.9",   "lint"] }
  {% if with_docs %}
          - { os: windows-latest, config: ["3.9",   "docs"] }
  {% endif %}
          - { os: windows-latest, config: ["3.9",   "coverage"] }
{% endif %}
{% if with_macos %}
          - { os: macos-latest, config: ["3.9",   "lint"] }
  {% if with_docs %}
          - { os: macos-latest, config: ["3.9",   "docs"] }
  {% endif %}
          - { os: macos-latest, config: ["3.9",   "coverage"] }
          # macOS/Python 3.11 is set up for universal2 architecture
          # which causes build and package selection issues.
          - { os: macos-latest, config: ["3.11",  "py311"] }
{% endif %}
{% for line in gha_additional_exclude %}
          %(line)s
{% endfor %}

    runs-on: ${{ matrix.os }}
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
{% if with_windows or with_macos %}
    name: ${{ matrix.os }}-${{ matrix.config[1] }}
{% else %}
    name: ${{ matrix.config[1] }}
{% endif %}
    steps:
{% for line in steps_before_checkout %}
    %(line)s
{% endfor %}
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.config[0] }}
    - name: Pip cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.config[0] }}-${{ hashFiles('setup.*', 'tox.ini') }}
        restore-keys: |
          ${{ runner.os }}-pip-${{ matrix.config[0] }}-
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
{% for line in gha_additional_install %}
        %(line)s
{% endfor %}
    - name: Test
{% if gha_test_commands %}
      run: |
      {% for line in gha_test_commands %}
        %(line)s
      {% endfor %}
{% else %}
      run: tox -e ${{ matrix.config[1] }}
{% endif %}
    - name: Coverage
      if: matrix.config[1] == 'coverage'
      run: |
{% if with_legacy_python %}
        pip install coveralls coverage-python-version
{% else %}
        pip install coveralls
{% endif %}
        coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
