
[testenv]
usedevelop = true
deps =
    zope.testrunner
{% if testenv_commands_pre %}
commands_pre =
  {% for line in testenv_commands_pre %}
    %(line)s
  {% endfor %}
{% endif %}
commands =
    zope-testrunner --test-path=src {posargs:-vc}
{% if with_sphinx_doctests %}
    sphinx-build -b doctest -d {envdir}/.cache/doctrees docs {envdir}/.cache/doctest
{% endif %}
extras =
    test
{% if with_sphinx_doctests %}
    docs
{% endif %}
{% for line in testenv_extras %}
    %(line)s
{% endfor %}
{% for line in testenv_additional %}
%(line)s
{% endfor %}
