[tox]
minversion = 3.18
envlist =
    lint
{% if with_legacy_python %}
    py27
    py35
    py36
{% endif %}
    py37
    py38
    py39
    py310
{% if with_future_python %}
    py311
{% endif %}
{% if with_pypy and with_legacy_python %}
    pypy
{% endif %}
{% if with_pypy %}
    pypy3
{% endif %}
{% if with_docs %}
    docs
{% endif %}
{% if with_coverage %}
    coverage
{% endif %}
{% for line in additional_envlist %}
    %(line)s
{% endfor %}
