[tox]
minversion = 3.18
envlist =
    release-check
    lint
    py38
    py39
    py310
    py311
    py312
    py313
{% if with_future_python %}
    py314
{% endif %}
{% if with_pypy %}
    pypy3
{% endif %}
{% if with_docs %}
    docs
{% endif %}
{% if with_coverage %}
    coverage
{% endif %}
{% for line in additional_envlist %}
    %(line)s
{% endfor %}
