
[testenv:lint]
basepython = python3
skip_install = true
commands =
{% if use_flake8 %}
    isort --check-only --diff {toxinidir}/src {toxinidir}/setup.py%(isort_additional_sources)s
    flake8 src setup.py%(flake8_additional_sources)s
{% endif %}
    check-manifest
    check-python-versions
deps =
    check-manifest
    check-python-versions >= 0.19.1
    wheel
{% if use_flake8 %}
    flake8
    isort

[testenv:isort-apply]
basepython = python3
commands_pre =
deps =
    isort
commands =
    isort {toxinidir}/src {toxinidir}/setup.py%(isort_additional_sources)s []
{% endif %}
