
{% include 'tox-release-check.j2' %}

[testenv:lint]
basepython = python3
skip_install = true
deps =
    isort
{% if use_flake8 %}
    flake8
{% for line in flake8_additional_plugins %}
    %(line)s
{% endfor %}
{% endif %}
commands =
    isort --check-only --diff {toxinidir}/src {toxinidir}/setup.py%(isort_additional_sources)s
{% if use_flake8 %}
    flake8 src setup.py%(flake8_additional_sources)s
{% endif %}

[testenv:isort-apply]
basepython = python3
skip_install = true
commands_pre =
deps =
    isort
commands =
    isort {toxinidir}/src {toxinidir}/setup.py%(isort_additional_sources)s []
