{% if with_docs %}

[testenv:docs]
basepython = python3
skip_install = false
# Until repoze.sphinx.autointerface supports Sphinx 4.x we cannot use it:
deps = Sphinx < 4
extras =
    docs
commands_pre =
commands =
    sphinx-build -b html -d docs/_build/doctrees docs docs/_build/html
{% if with_sphinx_doctests %}
    sphinx-build -b doctest -d docs/_build/doctrees docs docs/_build/doctest
{% endif %}
{% endif %}
