
[testenv:lint]
basepython = python3
skip_install = true
deps =
    flake8
    check-manifest
    check-python-versions
commands =
    flake8 src setup.py%(flake8_additional_sources)s
    check-manifest
    check-python-versions
