{% set with_coverage = True %}
{% include 'tox-envlist.j2' %}

[testenv]
skip_install = true
deps =
    setuptools < 69
    zc.buildout >= 3.0.1
    wheel > 0.37
{% for line in testenv_deps %}
    %(line)s
{% endfor %}
setenv =
{% if testenv_setenv %}
  {% for line in testenv_setenv %}
    %(line)s
  {% endfor %}
{% endif %}
    py312: VIRTUALENV_PIP=23.1.2
    py312: PIP_REQUIRE_VIRTUALENV=0
commands_pre =
{% if testenv_commands_pre %}
  {% for line in testenv_commands_pre %}
    %(line)s
  {% endfor %}
{% else %}
    {envbindir}/buildout -nc {toxinidir}/buildout.cfg buildout:directory={envdir} buildout:develop={toxinidir} install test
{% endif %}
commands =
{% if testenv_commands %}
  {% for line in testenv_commands %}
    %(line)s
  {% endfor %}
{% else %}
    {envbindir}/test {posargs:-cv}
{% endif %}
{% for line in testenv_additional %}
%(line)s
{% endfor %}

{% include 'tox-release-check.j2' %}

[testenv:lint]
basepython = python3
commands_pre =
{% if tox_use_flake8 %}
    mkdir -p {toxinidir}/parts/flake8
allowlist_externals =
    mkdir
{% endif %}
commands =
{% if tox_use_flake8 %}
    isort --check-only --diff {toxinidir}/src {toxinidir}/setup.py%(isort_additional_sources)s
    flake8 {toxinidir}/src {toxinidir}/setup.py%(flake8_additional_sources)s
{% endif %}
deps =
{% if tox_use_flake8 %}
    flake8
    isort
    # Useful flake8 plugins that are Python and Plone specific:
    flake8-coding
    flake8-debugger
    mccabe

[testenv:isort-apply]
basepython = python3
commands_pre =
deps =
    isort
commands =
    isort {toxinidir}/src {toxinidir}/setup.py%(isort_additional_sources)s []
{% endif %}
{% include 'tox-docs.j2' %}

[testenv:coverage]
basepython = %(coverage_basepython)s
skip_install = true
allowlist_externals =
    {[testenv]allowlist_externals}
    mkdir
{% if coverage_setenv %}
setenv =
{% for line in coverage_setenv %}
    %(line)s
{% endfor %}
{% endif %}
deps =
    {[testenv]deps}
    coverage
commands =
    mkdir -p {toxinidir}/parts/htmlcov
{% if coverage_command %}
  {% for line in coverage_command %}
    %(line)s
  {% endfor %}
{% else %}
    coverage run {envbindir}/test {posargs:-cv}
{% endif %}
    coverage html
    coverage report -m --fail-under=%(coverage_fail_under)s
{% for line in coverage_additional %}
%(line)s
{% endfor %}
{% include 'tox-coverage-config.j2' %}
