[testenv:release-check]
description = ensure that the distribution is ready to release
basepython = python3
skip_install = true
deps =
    setuptools %(setuptools_version_spec)s
    twine
    build
    check-manifest
    check-python-versions >= 0.20.0
    wheel
commands_pre =
commands =
    check-manifest
    check-python-versions --only setup.py,tox.ini,.github/workflows/tests.yml
    python -m build --sdist --no-isolation
    twine check dist/*
