[run]
source = %(coverage_run_source)s
# New in 5.0; required for the GHA coveralls submission.
relative_files = True
branch = true
{% for line in coverage_run_additional_config %}
%(line)s
{% endfor %}

[paths]
source =
    src/
    .tox/*/lib/python*/site-packages/
    .tox/pypy*/site-packages/

[report]
show_missing = true
precision = 2
ignore_errors = True
exclude_lines =
    except ImportError:
    if __name__ == '__main__':
    pragma: no cover
    pragma: nocover
    raise AssertionError
    raise NotImplementedError
    raise unittest.Skip
    self.fail\(

[html]
directory = parts/htmlcov
