#!/usr/bin/env bash

set -e -x

# Running inside docker
# Set a cache directory for pip. This was
# mounted to be the same as it is outside docker so it
# can be persisted.
export XDG_CACHE_HOME="/cache"
# XXX: This works for macOS, where everything bind-mounted
# is seen as owned by root in the container. But when the host is Linux
# the actual UIDs come through to the container, triggering
# pip to disable the cache when it detects that the owner doesn't match.
# The below is an attempt to fix that, taken from bcrypt. It seems to work on
# Github Actions.
if [ -n "$GITHUB_ACTIONS" ]; then
    echo Adjusting pip cache permissions
    mkdir -p $XDG_CACHE_HOME/pip
    chown -R $(whoami) $XDG_CACHE_HOME
fi
ls -ld /cache
ls -ld /cache/pip

{% for line in setup %}
%(line)s
{% endfor %}
# We need some libraries because we build wheels from scratch:
yum -y install libffi-devel

# Compile wheels
for PYBIN in /opt/python/*/bin; do
    if \
{% if with_legacy_python %}
       [[ "${PYBIN}" == *"cp27"* ]] || \
       [[ "${PYBIN}" == *"cp35"* ]] || \
{% endif %}
{% if with_future_python %}
       [[ "${PYBIN}" == *"cp311"* ]] || \
{% endif %}
       [[ "${PYBIN}" == *"cp36"* ]] || \
       [[ "${PYBIN}" == *"cp37"* ]] || \
       [[ "${PYBIN}" == *"cp38"* ]] || \
       [[ "${PYBIN}" == *"cp39"* ]] || \
       [[ "${PYBIN}" == *"cp310"* ]] ; then
{% if with_future_python %}
        "${PYBIN}/pip" install --pre -e /io/
        "${PYBIN}/pip" wheel /io/ --pre -w wheelhouse/
{% else %}
        "${PYBIN}/pip" install -e /io/
        "${PYBIN}/pip" wheel /io/ -w wheelhouse/
{% endif %}
        if [ `uname -m` == 'aarch64' ]; then
{% for line in aarch64_tests %}
          %(line)s
{% endfor %}
        fi
        rm -rf /io/build /io/*.egg-info
    fi
done

# Bundle external shared libraries into the wheels
for whl in wheelhouse/%(package_name)s*.whl; do
    auditwheel repair "$whl" -w /io/wheelhouse/
done
