    strategy:
      fail-fast: false
      matrix:
        python-version:
{% if with_legacy_python %}
{% endif %}
{% if with_pypy and with_legacy_python %}
{% endif %}
{% if with_pypy %}
          - "pypy-3.7"
{% endif %}
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
{% if with_future_python %}
          - "%(future_python_version)s"
{% endif %}
        os: [ubuntu-20.04, macos-latest]
{% if with_pypy or gha_additional_exclude %}
        exclude:
{% endif %}
{% if with_pypy %}
          - os: macos-latest
            python-version: "pypy-3.7"
{% endif %}
{% if with_legacy_python %}
{% endif %}
{% for line in gha_additional_exclude %}
          %(line)s
{% endfor %}
