[run]
source = %(coverage_run_source)s
{% if with_legacy_python %}
plugins = coverage_python_version
{% endif %}
branch = true
parallel = true
{% for line in run_additional_config %}
%(line)s
{% endfor %}

[paths]
source =
    src/
    .tox/*/lib/python*/site-packages/
    .tox/pypy*/site-packages/

[report]
precision = 2
exclude_lines =
    except ImportError:
    if __name__ == '__main__':
    pragma: no cover
    pragma: nocover
    raise AssertionError
    raise NotImplementedError
    raise unittest.Skip
    self.fail\(

[html]
directory = parts/htmlcov
