{% set with_coverage = True %}
{% include 'tox-envlist.j2' %}
{% include 'tox-testenv.j2' %}
{% include 'tox-lint.j2' %}
{% include 'tox-docs.j2' %}
[testenv:coverage]
basepython = python3
setenv =
    COVERAGE_PROCESS_START={toxinidir}/.coveragerc
deps =
    coverage
    coverage-python-version
    zope.testrunner
commands =
    coverage erase
    coverage run -m zope.testrunner --test-path=src []
{% if with_sphinx_doctests %}
    coverage run -a -m sphinx -b doctest -d {envdir}/.cache/doctrees docs {envdir}/.cache/doctest
{% endif %}
    coverage combine
    coverage html
    coverage report -m --fail-under=%(fail_under)s
