# This runs the tests without PyPy (e. g. for Zope dependencies)

language: python
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8

matrix:
  include:
    - name: "flake8"
      python: 3.7
      env: TOXENV="flake8"
    - name: "coverage"
      python: 3.7
      env: TOXENV="coverage"
      after_success:
        - coveralls

install:
  - pip install -U pip
  - pip install -U tox-travis coveralls

script:
  - tox

notifications:
  email: false

cache: pip
